body {
  color: #2a2a2a;
  background-color: #fefefb;
  line-height: 1.75;
}
.quarto-title-block .title {
  color: white;
  align-self: center;
}
h1, h2, h3, #TOC, .quarto-title-meta, .quarto-title-meta-author {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.page-columns {
  max-width: 3000px;
}
